# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
env.bak/
venv.bak/
.DS_Store

# Datasets and Outputs
data/
logs/
results/
models/

# Ignore paper drafts
*.pdf
*.tex
*.aux
*.log
*.out
*.gz
*.html
*.png
*.jpg
*.jpeg
*.md
!README.md
